<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  University Course And Result Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/PagedList.css" rel="stylesheet" />
   
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/mobiscroll-2.9.5.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/mobiscroll-2.9.5.full.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />*@
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light font-weight-bold " style="background-color: #d6c6c1; ">
        @*<a class=" navbar-brand" href="#">
            Navbar</a>*@
        <button class="navbar-brand btn btn-outline-light" type="button">University Management</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                @*<li class="nav-item active">
                    <br/>
                </li>
                <li class="nav-item">
                    
                </li>*@

                <li class="nav-item dropdown btn-outline-info shadow">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Department
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item alert-info " href="@Url.Action("Save", "Department")">Save Department</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item alert-info" href="@Url.Action("Index", "Department")">View All Departments</a>


                    </div>
                </li>


                <li class="nav-item dropdown btn-outline-info shadow">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Course
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item alert-info" href="@Url.Action("Save", "Course")">Save Course</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item alert-info" href="@Url.Action("ShowCourseStatics", "ViewCourseStatics")">View Course Statics</a>


                    </div>
                </li>
                <li class="nav-item dropdown btn-outline-info shadow ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teacher
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item alert-info" href="@Url.Action("Save", "Teacher")">Save Teacher</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item alert-info" href="@Url.Action("AssignCourseToTeacher", "CourseAssignToTeacher")">Assign Course To Teacher</a>


                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()
        <hr />


    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/Scripts/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Scripts/mobiscroll-2.9.5.full.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
 


    <script>
        $(function () {
            $("ul.nav li.dropdown").hover(function () {
                $(".dropdown-menu", this).fadeIn();
            }, function () {
                $(".dropdown-menu", this).fadeOut("fast");
            });
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
