@model UniversityCourseAndResultManagementSystem.Models.Course


@{
    ViewBag.Title = "Add Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <link href="~/Content/Style.css" rel="stylesheet" />

</head>
<body>
<hr/>
<h2 style="font-size: 30px; color: #5f223b">Save Course</h2>
<hr/>
    @using (Html.BeginForm("Save", "Course", FormMethod.Post, new { @class = "alert-info" }))
    {
        if (ViewBag.Mgs != null && ViewBag.Mgs == "Saved")
        {
            <p style="font-size: 30px; color: green">@ViewBag.Mgs</p>
        }
        else
        {
            <p style="font-size: 30px; color: red">@ViewBag.Mgs</p>
        }
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            <div class="form-group ">
                @Html.LabelFor(model => model.Code, new { @class = "col-md-2", id = "saveCourseForm" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code)
                </div>
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.Name, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.Credit, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Credit, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Credit)
                </div>
            </div>

            <div class="form-group ">
                @Html.LabelFor(model => model.Description, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group ">
                @Html.LabelFor(model => model.DepartmentId, new {@class = "col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.Departments, "DepartmentId", "Name"), "--Select Department--", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DepartmentId)
                </div>
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.SemesterId, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SemesterId, new SelectList(ViewBag.Semesters, "SemesterId", "Name"), "--Select Semester--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SemesterId)
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>

    }

@*@if (ViewBag.Mgs != null && ViewBag.Mgs == "Saved")
{
    <p style="font-size: 30px; color: green">@ViewBag.Mgs</p>

}
else
{
    <p style="font-size: 30px; color: red">@ViewBag.Mgs</p>
}*@

    @*<form id="saveCourseForm" method="POST" class="alert-info">
        <table class="table table-striped" style="width: 35%;">
            
            <tr>
                <td ><label for="Code">Code</label></td>
                <td ><input type="text" class="form-control" id="Code" name="Code" placeholder="Enter Code"></td>
                <td>@Html.ValidationMessageFor(model => model.Code)</td>
            </tr>

            <tr>
                <td ><label for="Name">Name</label></td>
                <td ><input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name"></td>
                <td>@Html.ValidationMessageFor(model => model.Name)</td>
            </tr>
            <tr>
                <td><label for="Credit">Credit</label></td>
                <td><input type="text" class="form-control" id="Credit" name="Credit" placeholder="Enter Credit"></td>
                <td>@Html.ValidationMessageFor(model => model.Credit)</td>
            </tr>
            <tr>
                <td><label for="Description">Description</label></td>
                <td><textarea id="Description" class="form-control" name="Description" placeholder="Write Description"></textarea></td>
                <td>@Html.ValidationMessageFor(model => model.Description)</td>
            </tr>
            <tr>
                <td><label for="DepartmentId">Department</label></td>
                <td>
                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                        <option value="">Select Department....</option>
                        @foreach (var dept in ViewBag.Departments)
                        {
                            <option value="@dept.DepartmentId">@dept.Name</option>
                        }
                    </select>

                </td>
                <td>@Html.ValidationMessageFor(model => model.DepartmentId)</td>
            </tr>
            <tr>
                <td><label for="SemesterId">Semester</label></td>
                <td>
                    <select id="SemesterId" name="SemesterId" class="form-control">
                        <option value="">Select Semester....</option>
                        @foreach (var sem in ViewBag.Semesters)
                        {
                            <option value="@sem.SemesterId">@sem.Name</option>
                        }
                    </select>
                </td>
                <td>@Html.ValidationMessageFor(model => model.SemesterId)</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-outline-primary">Save</button></td>

            </tr>
        </table>
    </form>*@


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function() {
        $("#saveCourseForm").validate({
            rules: {
                Code: {
                    required: true,
                    minlength: 5
                },
                Name: "required",
                Description: "required",
                Credit: {
                    required: true,
                    number: true,
                    range: [0.5, 5.0]

                },

                DepartmentId: "required",
                SemesterId: "required"

            },
            messages: {
                Code: {
                    required: "Please enter  Course Code",
                    minlength: "Code must be at least 5 charecters long "
                },

                Name: "Please enter Course Name!",
                Description: "Please write some description",
                Credit: {
                    required: "Please enter Credit !",
                    number: "Please enter only numeric value!",
                    range: "Credit must be between 0.5 and 5.0"
                },
                DepartmentId: "Please select a department!",
                SemesterId: "Please select a semester!"
            }
        });
    });
</script>
</body>
</html>
